fastapi
uvicorn
sqlalchemy
psycopg2-binary
pgvector
python-dotenv
pydantic
bcrypt
python-jose[cryptography]
alembic
python-multipart
email-validator
transformers
torch
openai
langchain
langchain-openai
langchain-community
tiktoken
presidio-analyzer
presidio-anonymizer
spacy
datasets
accelerate
scikit-learn
streamlit
plotly
requests
pydantic-settings
langchain-text-splitters